@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
  --bg-clr-light: #fff;
  --bg-clr-dark: #000;

  --text-clr-light: #fff;
  --text-clr-dark: #000;

  --clr-primary: #1EC6B6;
  --clr-secondary: #FF4A52;
  --star-clr: #fdae5c;
  --clr-111: #111;
  --clr-333: #333;
  --clr-555: #555;
  --clr-777: #777;
  --clr-999: #999;

  --clr-bg-blue: #040e27;

  --clr-transparent-500: rgba(0, 0, 0, 0.5);
  --clr-transparent-900: rgba(0, 0, 0, 0.9);
  --clr-transparent-700: rgba(0, 0, 0, 0.7);
  --clr-transparent-300: rgba(0, 0, 0, 0.3);
  --clr-transparent-100: rgba(0, 0, 0, 0.1);
  --clr-transparent-light-100: rgba(255, 255, 255, 0.1);

  /* --- font --- */
  --fs-1: 1.2rem;
  --fs-2: 1rem;
  --fs-3: 0.9rem;
  --fs-4: 0.8rem;
  --fs-5: 0.7rem;
  --fs-6: 0.6rem;
  --fs-7: 0.4rem;

  --ff-poppins: "Poppins", sans-serif;

  --fw-100: 100;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  /* --- others --- */
  --header-padding: 0.7rem 0.4rem;
  --card-padding: 1rem;
  --btn-pading: 0.3rem 1.5rem;
  --btn-pading-large: 0.9rem 2.4rem;
  --search-padding: 0.6rem 1rem;

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-border-radius: 0.4rem;
  --border-radius-p: 50%;

  --card-shadow: 0rem 0rem 0.4rem var(--clr-999);

  --def-transition: 0.25s ease-in-out;
}

* {
  transition: var(--def-transition);
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

*::-webkit-scrollbar-thumb {
  background: var(--clr-secondary);
  border-radius: var(--btn-border-radius);
}

html {
  font-family: "rubik", sans-serif;
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
}

body {
  background: white;
}

.page__content__overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-transparent-700);
  transition: 0.5s ease-in-out;
  opacity: 0;
  z-index: 9;
}

.page__content__overlay.active {
  visibility: visible;
  opacity: 1;
}

.search__overlay__container {
  position: fixed;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  opacity: 0;
  z-index: 9;
}

.search__overlay__container .search__shadow {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-transparent-900);
  z-index: 1;
}

.search__overlay__container.active {
  visibility: visible;
  opacity: 1;
}

.search__overlay__container .overlay__search__wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  margin: 1rem;
  transform: translateY(-200px);
  opacity: 0;
  z-index: 2;
}

.search__overlay__container .overlay__search__wrapper input {
  width: 100%;
  height: 100%;
  padding: var(--search-padding);
  padding-right: 2.5rem;
  font-size: var(--fs-1);
  color: var(--text-clr-dark);
  border: 0.1rem solid transparent;
  border-right: none;
}

.search__overlay__container.active .overlay__search__wrapper {
  transform: translateY(0);
  opacity: 1;
}

.search__overlay__container .overlay__search__wrapper input:focus {
  border-color: var(--clr-secondary);
}

.search__overlay__container .overlay__search__wrapper button {
  position: relative;
  padding: 0.2rem 0.5rem;
  width: auto;
  border: none;
  outline: none;
  color: var(--text-clr-light);
  background: var(--clr-secondary);
  font-size: var(--fs-2);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.home__section {
  padding: 3rem 0 2rem 0;
}

.header {
  position: sticky;
  width: 100%;
  top: -220px;
  background: var(--bg-clr-light);
  box-shadow: none;
  z-index: 8;
}

.header.active {
  top: 0px;
  box-shadow: 0 0.1rem 1rem 0 rgb(0 0 0 / 10%);
  background: rgba(255, 255, 255, 0.95);
}

.header .container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.header .container .header__row .nav__open__btn {
  position: relative;
  padding: var(--search-padding);
  border: none;
  background: none;
  display: none;
}

.header .container .header__row .nav__open__btn i {
  font-size: 1.4rem;
  color: var(--clr-secondary);
}

.header .container .header__row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  padding-right: 120px;
}

.header.active .container .header__row {
  padding: 0.5rem 0;
  padding-right: 90px;
}

.header .container .header__row .header__item__column {
  max-width: 50%;
}

.header .container .header__row .header__item__column .logo {
  max-width: 140px;
  width: 138px;
  height: auto;
  margin-left: 2rem;
}

.header .container .header__row .header__item__column .nav {
  position: relative;
}

.header .container .header__row .header__item__column .nav::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--clr-999);
  left: -1rem;
}

.header .container .header__row .header__item__column .nav ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .header__row .header__item__column .nav ul li {
  margin-left: 1rem;
}

.header .container .header__row .header__item__column .nav ul li a {
  color: var(--text-clr-dark);
  text-transform: capitalize;
  font-family: "rubik", sans-serif;
  gap: 0.5rem;
}

.header .container .header__row .header__item__column .nav ul li a i {
  color: var(--clr-999);
  height: 13px;
  width: 13px;
  font-size: var(--fs-4);
}

.header .container .header__row .header__item__column .nav ul li a:hover,
.header .container .header__row .header__item__column .nav ul li a:hover i {
  color: var(--clr-primary);
}

.header .container .header__row .header__item__column .header__social__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .header__row .header__item__column .header__social__wrapper .phone__number {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-clr-dark);
}

.header .container .header__row .header__item__column .header__social__wrapper .phone__number i {
  color: var(--clr-secondary);
  font-size: var(--fs-1);
}

.header .container .header__row .header__item__column .header__social__wrapper .social__link__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
}

.header .container .header__row .header__item__column .header__social__wrapper .social__link__wrapper::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--clr-999);
  left: -1rem;
}

.header .container .header__row .header__item__column .header__social__wrapper .social__link__wrapper li a i {
  font-size: var(--fs-1);
  color: var(--clr-999);
}

.header .container .header__row .header__item__column .header__social__wrapper .social__link__wrapper li:hover a i {
  color: var(--clr-secondary);
}

.header .container .header__search__btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-secondary);
  cursor: pointer;
}

.header.active .container .header__search__btn {
  width: 80px;
}

.header .container .header__search__btn i {
  font-size: var(--fs-1);
  color: var(--text-clr-light);
}

.navigation__mobile__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: -100%;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 400px;
  background: var(--bg-clr-light);
  z-index: 10;
  overflow-y: auto;
}

.navigation__mobile__container.active {
  left: 0;
}

.navigation__mobile__container .nav__head {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--header-padding);
  background: var(--bg-clr-light);
  z-index: 2;
}

.navigation__mobile__container .nav__head .nav__close__btn {
  position: relative;
  padding: 0.4rem;
  cursor: pointer;
}

.navigation__mobile__container .nav__head .nav__close__btn i {
  font-size: 1.5rem;
  color: var(--clr-secondary);
}

.navigation__mobile__container .mob__nav__search__wrapper {
  position: relative;
  background: var(--bg-clr-light);
  margin: 1rem;
}

.navigation__mobile__container .mob__nav__search__wrapper input {
  width: 100%;
  height: 100%;
  padding: var(--search-padding);
  padding-right: 2.5rem;
  font-size: var(--fs-1);
  color: var(--text-clr-dark);
  border: 0.1rem solid var(--clr-999);
  border-radius: var(--btn-border-radius);
}

.navigation__mobile__container .mob__nav__search__wrapper input:focus {
  border-color: var(--clr-secondary);
}

.navigation__mobile__container .mob__nav__search__wrapper i {
  position: absolute;
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--header-padding);
  color: var(--clr-999);
}

.navigation__mobile__container .mob__nav__search__wrapper input:focus~i {
  opacity: 0;
}

.navigation__mobile__container .nav__list__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation__mobile__container .nav__list__wrapper .nav__item {
  display: flex;
  gap: 0.4rem;
  padding: var(--card-padding);
  width: 100%;
  cursor: pointer;
  margin-top: 0.1rem;
  font-family: "rubik", sans-serif;
}

.navigation__mobile__container .nav__list__wrapper .nav__item a {
  font-size: var(--fs-2);
  color: var(--bg-clr-dark);
}

.navigation__mobile__container .nav__list__wrapper .nav__item i {
  font-size: var(--fs-3);
  color: var(--bg-clr-dark);
}

.navigation__mobile__container .nav__list__wrapper .nav__item:hover {
  background: var(--clr-secondary);
}

.navigation__mobile__container .nav__list__wrapper .nav__item:hover i,
.navigation__mobile__container .nav__list__wrapper .nav__item:hover a {
  color: var(--text-clr-light);
}

.navigation__mobile__container .nav__list__wrapper .nav__item.active {
  background: var(--clr-transparent-100);
  color: var(--text-clr-dark);
}

.navigation__mobile__container .nav__list__wrapper .nav__item.active i {
  transform: rotateZ(180deg);
}

.navigation__mobile__container .nav__list__wrapper .nav__item.active:hover i,
.navigation__mobile__container .nav__list__wrapper .nav__item.active:hover a {
  color: var(--text-clr-dark);
}

.navigation__mobile__container .nav__list__wrapper .submenu__item__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0px;
  overflow: hidden;
}

.navigation__mobile__container .nav__list__wrapper .submenu__item__wrapper.active {
  height: 100px;
}

.navigation__mobile__container .nav__list__wrapper .submenu__item__wrapper .submenu__item {
  position: relative;
  color: var(--text-clr-dark);
  padding: var(--card-padding);
  padding-left: 2rem;
  font-family: "rubik", sans-serif;
}

.navigation__mobile__container .nav__list__wrapper .submenu__item__wrapper .submenu__item:hover {
  background: var(--clr-secondary);
  color: var(--bg-clr-light);
}

.navigation__mobile__container .mob__nav__social__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
  bottom: 1rem;
}

.navigation__mobile__container .mob__nav__social__wrapper .phone__number {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-clr-dark);
}

.navigation__mobile__container .mob__nav__social__wrapper .phone__number i {
  color: var(--clr-secondary);
  font-size: var(--fs-1);
}

.navigation__mobile__container .mob__nav__social__wrapper .social__link__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation__mobile__container .mob__nav__social__wrapper .social__link__wrapper li a i {
  font-size: 1.5rem;
  color: var(--clr-999);
}

.navigation__mobile__container .mob__nav__social__wrapper .social__link__wrapper li a i:hover {
  color: var(--clr-secondary);
}

.home__section.section__slider {
  padding: 0;
}

.home__section.section__popular__destination {
  padding-bottom: 0;
}

.home__section .slider__container {
  position: relative;
}

.home__section .slider__wrapper {
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.home__section .slider__wrapper::-webkit-scrollbar {
  height: 0;
}

.home__section .slider__container .slider__btn {
  position: absolute;
  height: 120px;
  width: 50px;
  top: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: none;
  line-height: 120px;
  cursor: pointer;
  background: var(--clr-transparent-light-100);
  z-index: 1;
}

.home__section .slider__container .slider__btn i {
  color: var(--text-clr-light);
  font-size: var(--fs-1);
}

.home__section .slider__container .slider__btn:hover {
  background: var(--bg-clr-light);
}

.home__section .slider__container .slider__btn:hover i {
  color: var(--text-clr-dark);
}

.home__section .slider__container .slider__prew__btn {
  left: 0;
}

.home__section .slider__container .slider__next__btn {
  right: 0;
}

.home__section .slider__container .slider__wrapper .slider {
  position: relative;
  width: 100vw;
  flex: 0 0 100%;
  overflow: hidden;
  scroll-snap-align: center;
}

.home__section .slider__container .slider__wrapper .slider img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__section .slider__container .slider__wrapper .slider .slider__text__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__section .slider__container .slider__wrapper .slider .slider__text__wrapper .country__title {
  font-size: 7rem;
  font-weight: var(--fw-400);
  color: var(--text-clr-light);
  font-family: 'Caveat', cursive;
}

.home__section .slider__container .slider__wrapper .slider .slider__text__wrapper .description {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
  color: var(--text-clr-light);
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.home__section .slider__container .slider__wrapper .slider .slider__text__wrapper .explore__btn {
  position: relative;
  width: 100%;
  max-width: 180px;
  padding: var(--btn-pading-large);
  border: none;
  outline: none;
  font-size: var(--fs-2);
  font-family: var(--fw-600);
  border-radius: var(--btn-border-radius);
  color: var(--text-clr-light);
  background: var(--clr-primary);
  margin: 0 auto;
}

.home__section .slider__container .slider__wrapper .slider .slider__text__wrapper .explore__btn:hover {
  background: var(--clr-secondary);

}

.home__section .where__togo__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem;
  background: var(--clr-bg-blue);
}

.home__section .where__togo__wrapper .title {
  font-size: var(--fs-1fs) !important;
  color: var(--text-clr-light) !important;
  font-weight: var(--fw-400);
}

.home__section .where__togo__wrapper form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home__section .where__togo__wrapper form .input__wrapper {
  position: relative;
  height: 50px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3rem 0.7rem;
  border-radius: var(--btn-border-radius);
  border: 0.1rem solid var(--clr-777);
}

.home__section .where__togo__wrapper form .input__wrapper input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: var(--fs-2);
  color: var(--text-clr-light);
  padding: var(--search-padding);
  padding-left: 0.1rem;
}

.home__section .where__togo__wrapper form .input__wrapper .curent {
  font-size: var(--fs-2);
  color: var(--clr-777);
}

.home__section .where__togo__wrapper form .input__wrapper .fa {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--fs-2);
  color: var(--clr-777);
}

.home__section .where__togo__wrapper form .input__wrapper .select__wrapper {
  position: absolute;
  width: 100%;
  top: 110%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform-origin: top;
  transform: scale(0.5) translateY(-50px);
  border-radius: var(--btn-border-radius);
  background: var(--bg-clr-light);
  box-shadow: 0 0.1rem 0.1rem var(--clr-999);
  transition: 0.2s ease-in-out;
}

.home__section .where__togo__wrapper form .input__wrapper .select__wrapper.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateY(0);
  pointer-events: painted;
}

.home__section .where__togo__wrapper form .input__wrapper .select__wrapper .option {
  cursor: pointer;
  font-weight: var(--fw-400);
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 1rem;
  padding-right: 2rem;
  text-align: left;
  color: var(--text-clr-dark);
}


.home__section .where__togo__wrapper form .input__wrapper .select__wrapper .option.selection {
  background: var(--clr-transparent-100);
}

.home__section .where__togo__wrapper form .input__wrapper .select__wrapper .option:hover {
  background: var(--clr-transparent-100);
}

.home__section .where__togo__wrapper form .search__btn {
  background: var(--clr-secondary);
  color: var(--text-clr-light);
  display: inline-block;
  padding: var(--btn-pading-large);
  text-transform: capitalize;
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  height: 50px;
  border: none;
  border-radius: var(--btn-border-radius);
  text-align: center;
  cursor: pointer;
}

.home__section .where__togo__wrapper form .search__btn:hover {
  background: var(--clr-primary);
}


.container .home__section .title {
  text-transform: capitalize;
  color: black;
  font-size: 2.3rem;
  text-align: center;
}

.container .home__section .description {
  text-transform: capitalize;
  color: #777;
  text-align: center;
  max-width: 400px;
  font-size: 1.1rem;
  margin: 1rem auto;
}

.home__section .img__item__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  margin-top: 3rem;
}

.home__section .img__item__wrapper .item__wrapper {
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 200px;
  width: 100%;
  margin: 1rem;
  cursor: pointer;
}

.home__section .img__item__wrapper .item__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  z-index: 1;
}

.home__section .img__item__wrapper .item__wrapper img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.home__section .img__item__wrapper .item__wrapper .content__wrapper {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
}

.home__section .img__item__wrapper .item__wrapper .content__wrapper .country {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--text-clr-light);
  display: flex;
  text-align: center;
  margin: 0;
}

.home__section .img__item__wrapper .item__wrapper .content__wrapper .country span {
  padding: 0.4rem 0.6rem;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 0.7rem;
  text-align: center;
  margin-left: 1rem;
  background: var(--clr-primary);
}

.home__section .img__item__wrapper .item__wrapper:hover {
  transform: translateY(-10px);
}

.home__section .img__item__wrapper .item__wrapper:hover .content__wrapper .country {
  color: var(--clr-secondary);
}

.home__section .img__item__wrapper .item__wrapper:hover .content__wrapper .country span {
  background: var(--clr-secondary);
  color: var(--text-clr-light);
}

.home__section .newletter__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/subscribe__img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5rem 0;
  margin-top: 4rem;
}

.home__section .newletter__wrapper::before {
  position: absolute;
  content: "";
  background-color: #050f2bc1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.home__section .newletter__wrapper .newsletter__text {
  display: flex;
  max-width: 370px;
  flex-direction: column;
  z-index: 1;
}

.home__section .newletter__wrapper .newsletter__text h4 {
  font-size: 1.5rem;
  font-weight: var(--fw-400);
  color: var(--text-clr-light);
  margin-bottom: 0.5rem;
}

.home__section .newletter__wrapper .newsletter__text p {
  color: var(--clr-999);
  font-size: var(--fs-2);
  line-height: 28px;
  margin-bottom: 0;
}

.home__section .newletter__wrapper .newsletter__form {
  position: relative;
  display: flex;
  align-items: center;
}

.home__section .newletter__wrapper .newsletter__form .newsletter__field {
  margin-right: 0.6rem;
}

.home__section .newletter__wrapper .newsletter__form .newsletter__field input {
  width: 100%;
  height: 50px;
  min-width: 350px;
  background: var(--bg-clr-light);
  border-radius: var(--btn-border-radius);
  border: 0;
  padding-left: 0.8rem;
  color: var(--text-clr-dark);
  font-size: var(--fs-2);
  font-weight: 300;
}

.home__section .newletter__wrapper .newsletter__form .newsletter__btn {
  background: var(--clr-secondary);
  color: var(--text-clr-light);
  display: inline-block;
  padding: var(--btn-pading);
  text-transform: capitalize;
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  height: 50px;
  border: none;
  border-radius: var(--btn-border-radius);
  text-align: center;
  cursor: pointer;
}

.home__section .newletter__wrapper .newsletter__form .newsletter__btn:hover {
  background: var(--clr-primary);
}

.home__section.section__popular__places {
  background: #f7fafd;
}

.home__section .place__item__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  margin-top: 3rem;
}

.home__section .place__item__wrapper .item__wrapper {
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  max-width: 300px;
  height: auto;
  width: 100%;
  margin: 1rem;
  cursor: pointer;
  background: var(--bg-clr-light);
  border-radius: var(--btn-border-radius);
}

.home__section .place__item__wrapper .item__wrapper:hover {
  box-shadow: 0 0.5rem 1.1rem rgb(0 0 0 / 10%);
}

.home__section .place__item__wrapper .item__wrapper .price {
  position: absolute;
  background: var(--clr-primary);
  padding: 0.4rem 1.1rem 0.3rem 1.1rem;
  display: inline-flex;
  align-items: center;
  text-align: center;
  top: 1rem;
  left: 1rem;
  border-radius: var(--card-border-radius);
  color: var(--text-clr-light);
  font-size: var(--fs-2);
}

.home__section .place__item__wrapper .item__wrapper:hover .price {
  background: var(--clr-secondary);
}

.home__section .place__item__wrapper .item__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper {
  padding: var(--card-padding);
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .country {
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  color: var(--clr-bg-blue);
}

.home__section .place__item__wrapper .item__wrapper:hover .place__info__wrapper .country {
  color: var(--clr-secondary);
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .description {
  font-size: var(--fs-3);
  font-weight: var(--fw-400);
  color: var(--clr-777);
  margin-top: 0.1rem;
  text-align: start;
  line-height: 2rem;
  margin-bottom: 0.35rem;
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .rating__day__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .rating__day__wrapper .rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .rating__day__wrapper .rating i {
  font-size: var(--fs-4);
  color: var(--star-clr);
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .rating__day__wrapper .rating p {
  font-size: var(--fs-4);
  color: var(--clr-777);
  margin-left: 0.2rem;
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .rating__day__wrapper .day {
  display: flex;
  align-items: center;
  font-size: var(--fs-4);
  color: var(--clr-777);
}

.home__section .place__item__wrapper .item__wrapper .place__info__wrapper .rating__day__wrapper .day p {
  margin-left: 0.2rem;
}


.home__section .place__btn__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.home__section .place__btn__wrapper .btn {
  position: relative;
  width: 100%;
  max-width: 180px;
  padding: var(--btn-pading-large);
  border: none;
  outline: none;
  font-size: var(--fs-2);
  font-family: var(--fw-600);
  border-radius: var(--btn-border-radius);
  color: var(--text-clr-light);
  background: var(--clr-secondary);
}

.home__section .place__btn__wrapper .btn:hover {
  background: var(--clr-primary);
}

.home__section.section__video {
  position: relative;
  margin: 0 0 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9rem 0;
  background: url(../img/video__bg.webp) no-repeat center;
  background-size: cover;
}

.home__section.section__video .text__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__section.section__video .text__content .title {
  font-family: 'Caveat', cursive;
  font-weight: var(--fw-400);
  font-size: 7rem;
  line-height: 7rem;
  color: var(--text-clr-light);
  margin-bottom: 4rem;
}

.home__section.section__video .text__content .play__btn__animation {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 90px;
  border-radius: var(--border-radius-p);
  background: var(--clr-primary);
  cursor: pointer;
}

.home__section.section__video .text__content .play__btn__animation::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--clr-primary);
  border-radius: var(--border-radius-p);
  opacity: 1;
  pointer-events: none;
  animation: puls 1.3s ease-in-out infinite;
}

.home__section.section__video .text__content .play__btn__animation i {
  color: var(--text-clr-light);
  font-size: var(--fs-1);
  z-index: 1;
}

@keyframes puls {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0.1;
  }
}

.home__section.section__travel__variation {
  padding-top: 80px;
  padding-bottom: 100px;
}

.home__section.section__travel__variation .travel__variation__item__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  gap: 2rem;
}

.home__section.section__travel__variation .travel__variation__item__wrapper .travel__variation__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.home__section.section__travel__variation .travel__variation__item__wrapper .travel__variation__item img {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
}

.home__section.section__travel__variation .travel__variation__item__wrapper .travel__variation__item .title {
  font-size: 1.5rem;
  font-weight: var(--fw-400);
  color: var(--clr-bg-blue);
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.home__section.section__travel__variation .travel__variation__item__wrapper .travel__variation__item .description {
  font-size: var(--fs-2);
  font-weight: var(--fw-400);
  color: var(--clr-999);
}

.home__section.section__testimonial {
  position: relative;
  padding: 100px 0 120px 0;
  background: #f7fafd;
}

.home__section.section__testimonial .testimonial__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper {
  position: relative;
  width: 60%;
  margin: 0 auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 0;
  overflow-x: auto;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper::-webkit-scrollbar {
  height: 0;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper .slide {
  position: relative;
  width: 100%;
  flex: 0 0 100%;
  overflow: hidden;
  scroll-snap-align: center;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper .slide .author__img__wrapper {
  position: relative;
  width: fit-content;
  margin: auto auto 1rem;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper .slide .author__img__wrapper i {
  position: absolute;
  right: -15px;
  bottom: -12px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: var(--clr-primary);
  border-radius: var(--border-radius-p);
  color: var(--text-clr-light);
  font-size: var(--fs-2);
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper .slide .author__img__wrapper img {
  width: 105px;
  height: 105px;
  object-fit: cover;
  border-radius: var(--border-radius-p);
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper .slide .testimonial__text {
  color: var(--clr-bg-blue);
  font-weight: var(--fw-400);
  font-size: var(--fs-1);
  line-height: 2rem;
  text-align: center;
  max-width: 400px;
  margin: 2rem auto 0.5rem;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper .slide .testimonial__author {
  width: 100%;
  text-align: center;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__slider__wrapper .slide .testimonial__author h3 {
  color: var(--clr-999);
  font-size: var(--fs-2);
  font-weight: var(--fw-400);
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__pagination {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 2rem auto;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__pagination .pagination__btn {
  width: 12px;
  height: 12px;
  background: var(--clr-999);
  display: inline-block;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.home__section.section__testimonial .testimonial__wrapper .testimonial__pagination .pagination__btn.active {
  background: var(--clr-secondary);
}

.home__section.section__recent__trips .recent__trips__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  margin-top: 3rem;
}

.home__section.section__recent__trips .recent__trips__wrapper .recent__item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  max-width: 300px;
  height: 300px;
  width: 100%;
  margin: 1rem;
}

.home__section.section__recent__trips .recent__trips__wrapper .recent__item .img__wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--btn-border-radius);
  margin-bottom: 1.5rem;
}

.home__section.section__recent__trips .recent__trips__wrapper .recent__item .img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__section.section__recent__trips .recent__trips__wrapper .recent__item .recent__info {
  position: relative;
  width: 100%;
}

.home__section.section__recent__trips .recent__trips__wrapper .recent__item .recent__info .date {
  font-size: var(--fs-3);
  font-weight: var(--fw-400);
  color: var(--clr-999);
  display: block;
}

.home__section.section__recent__trips .recent__trips__wrapper .recent__item .recent__info h3 {
  color: var(--clr-bg-blue);
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  margin-top: 0.8rem;
}

.home__section.section__recent__trips .recent__trips__wrapper .recent__item:hover .recent__info h3 {
  color: var(--clr-secondary);
}


.footer {
  position: relative;
  background: var(--clr-bg-blue);
}

.footer .footer__top {
  padding-top: 90px;
  padding-bottom: 80px;
}

.footer .footer__top .row {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto;
}

.footer .footer__top .row .footer__widget {
  width: fit-content;
  margin: 2rem;
  margin-left: 0;
}

.footer .footer__top .row .footer__widget:last-child{
  margin: 2rem 0.4rem;
}

.footer .footer__top .row .footer__widget .footer__logo {
  margin-bottom: 3rem;
}

.footer .footer__top .row .footer__widget .footer__text {
  font-size: var(--fs-3);
  font-weight: 400;
  line-height: 26px;
  color: var(--clr-999);
  margin-bottom: 3rem;
}

.footer .footer__top .row .footer__widget .footer__text a {
  font-size: var(--fs-3);
  font-weight: 400;
  line-height: 26px;
  display: block;
  color: var(--clr-999);
}

.footer .footer__top .row .footer__widget .footer__text a:hover {
  color: var(--clr-secondary);
}

.footer .footer__top .row .footer__widget .social__link__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.footer .footer__top .row .footer__widget .social__link__wrapper li {
  margin-right: 1rem;
}

.footer .footer__top .row .footer__widget .links li a,
.footer .footer__top .row .footer__widget .social__link__wrapper li a i {
  color: var(--clr-999);
  font-size: var(--fs-2);
  line-height: 2rem;
}

.footer .footer__top .row .footer__widget .links li a:hover,
.footer .footer__top .row .footer__widget .social__link__wrapper li a i:hover {
  color: var(--clr-secondary);
}

.footer .footer__top .row .footer__widget .footer__title {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
  color: var(--text-clr-light);
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.footer .footer__top .row .footer__widget .links.double__links {
  position: relative;
  max-width: 230px;
}

.footer .footer__top .row .footer__widget .links.double__links li {
  width: 40%;
  float: left;
}

.footer .footer__top .row .footer__widget .instagram__feed__wrapper {
  max-width: 400px;
}

.footer .footer__top .row .footer__widget .instagram__feed__wrapper .item {
  position: relative;
  width: 33.33%;
  max-width: 100px;
  aspect-ratio: 1/1;
  float: left;
  margin: 0.5rem;
  border-radius: var(--btn-border-radius);
  overflow: hidden;
}

.footer .footer__top .row .footer__widget .instagram__feed__wrapper .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer .footer__bottom {
  position: relative;
  width: 100%;
  padding-bottom: 3rem;
}

.footer .footer__bottom .copy__right {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  padding: 0 2rem;
  font-size: var(--fs-3);
  color: var(--clr-999);
  font-weight: var(--fw-400);
  line-height: 1.3rem;
}

.footer .footer__bottom .copy__right::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 0.2px;
  background: var(--clr-555);
  border-radius: var(--btn-border-radius);
}

.footer .footer__bottom .copy__right a{
  color: var(--clr-secondary);
}